<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include templates/partial.ejs %>
  
<div class="container">
    <% images.forEach(function(image){ %>
    <img src="/images/<%= size %>/<%= image.path %>"/>
    <%  }) %>
 </div>
 <div>
<a class="previous" href="/size/<%= size %>/<%=(parseInt(page)-1)%>">&laquo; Previous</a> 
<a class="next" href="/size/<%= size %>/<%=(parseInt(page)+1)%>">Next &raquo;</a> 
    
</div>

  </body>
</html>